/* MOBILE & COMMON */
.delivery-list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.delivery-list-item {
  display: flex;
  align-items: center;

  height: 51px;

  counter-increment: delivery-list-item;
}

.delivery-list-item::before {
  content: counter(delivery-list-item);

  position: absolute;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1;

  border: 1px solid #000000;
  border-radius: 50%;
}

.delivery-list-text {
  margin-left: 48px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.delivery-bottom-img {
  margin-left: auto;
  margin-right: auto;

  max-width: 480px;
  width: 100%;
  height: 135px;

  background-image: url(../../img/delivery/image-delivery_320.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .delivery-bottom-img {
    background-image: url(../../img/delivery/image-delivery_640.webp);
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .delivery-list {
    gap: 24px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .delivery-list-text {
    font-size: 24px;

    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) {
  .delivery-list-item {
    height: 64px;
  }
}

@media screen and (min-width: 768px) {
  .delivery-list-item::before {
    width: 64px;
    height: 64px;

    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .delivery-bottom-img {
    max-width: 768px;
    height: 264px;
    background-image: url(../../img/delivery/image-delivery_768.webp)
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .delivery-bottom-img {
      background-image: url(../../img/delivery/image-delivery_1536.webp);
    }
  }
}

/* DESKTOP */
@media screen and (min-width: 1280px){
  .delivery-list{
    margin-bottom: 60px;

    max-width: 1088px;

    gap: 32px;
  }
}

@media screen and (min-width: 1280px){
  .delivery-list-text{
    font-size: 32px;

    margin-left: 120px;
  }
}

@media screen and (min-width: 1280px){
  .delivery-list-item{
    height: 84px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-bottom-img {
    max-width: 1280px;
    height: 391px;
    background-image: url(../../img/delivery/image-delivery_1280.webp)
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .delivery-bottom-img {
      background-image: url(../../img/delivery/image-delivery_2560.webp);
    }
  }
}