.hero-container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 43.67px;
}

.button-hero {
  margin: 0;
  padding: 0;
  background-color: transparent;
  right: auto;
  cursor: pointer;
  position: relative;
  top: 10%;
  border: none;
  margin-left: 1px;
}
.hero-secrtion {
  position: relative;
  margin: 0 auto;
  max-width: 768px;
  padding-left: 16px;
  padding-right: 16px;
}
.hero-img {
  margin: 0 auto;
  padding-top: 43.67px;
}
.subtitle-hero {
  font-size: 14px;
  margin-right: 14px;
  font-family: 'Montesirrat', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}
.title-hero {
  font-family: 'Montesirrat', sans-serif;
  font-style: normal;
  font-size: 52px;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  position: absolute;
  top: 450px;
  margin-left: 16px;
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .button-img-tab {
    display: none;
  }
  .button-img-desk {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .subtitle-hero {
    margin-right: 40px;
    font-size: 24px;
    line-height: 1.2;
  }
  .button-img-mob {
    display: none;
  }
  .title-hero {
    font-size: 120px;
    top: 778px;
  }
  .button-hero {
    margin-left: 20px;
  }
  .hero-container {
    padding-top: 37.6px;
  }
}
@media screen and (max-width: 1280px) {
  .button-img-desk {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .button-img-tab {
    display: none;
  }
  .button-hero {
    margin-left: 120px;
  }
  .subtitle-hero {
    margin-right: 120px;
    font-size: 32px;
  }
  .title-hero {
    font-size: 160px;
    top: 740px;
    margin: 0;
  }
  .underline::before {
    content: '';
    border: 8px solid #0e0e0e;
    position: absolute;
    width: 58px;
    left: 725px;
  }
  .hero-container {
    padding-top: 63.6px;
  }
}
