* {
  box-sizing: border-box;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);
}

.modal-overlay.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition-delay: 500ms;
}

.modal-overlay.is-hidden .modal {
  opacity: 0;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 272px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;

  /* outline: 1px dotted red; */
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-contactus {
  padding: 28px 16px;
  text-align: left;
}

.modal-thankyou {
  padding: 44px 16px 32px;
  text-align: left;
}
.modal-subscribe {
}

.modal-close {
  position: absolute;
  top: 19px;
  right: 19px;
  stroke: #000;
  width: 18px;
  height: 18px;
}

.modal-title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(24 / 20);
  margin-bottom: 14px;
}
.modal-thankyou-desc {
  margin-bottom: 16px;
}

.modal-desc {
  width: 100%;
  color: #5c5c5c;
  font-weight: 500;
  margin-bottom: 18px;
  font-size: 12px;
  line-height: calc(15 / 12);
}

.modal-contactus-desc {
}

.modal-subscribe-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
}

.modal-thankyou-desc {
}
.modal-form {
  width: 100%;
}
.modal-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #5c5c5c;
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid rgba(17, 17, 17, 0.7);
}

.modal-input:valid {
  border: 1px solid #3cbc81;
}

.modal-input:invalid {
  border: 1px solid #e74a3b;
}
/* .modal-input:invalid .modal-form > .modal-label {
  color: #e74a3b;
} */

.modal-subscribe-label {
  text-align: left;
}
.modal-input {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  padding: 12px 10px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.modal-input::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: rgba(0, 0, 0, 0.3);
}

.modal-btn {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  border-radius: 8px;
  padding: 10px 0;
  background-color: var(--default-button-color);
  color: #fff;
}

.modal-btn:focus {
  background-color: var(--focus-button-color);
}

.modal-btn:hover {
  background-color: var(--hover-button-color);
}

.modal-contactus-btn {
  margin-top: 24px;
}
.modal-subscribe-btn {
  margin-top: 18px;
}
.modal-thankyou-btn {
  margin-top: 18px;
}

.modal-subscribe-side-left {
  height: 121px;
  background-image: url(../../img/modal/);
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-subscribe-side-right {
  padding: 18px 16px 28px;
}
