<section class="section about-section" id="about">
  <div class="container">
    <h2 class="section-title">ABOUT</h2>
    <p class="about-text">
      We are a minimalistic flower studio. We love people and flowers.
      Therefore, every day we give people the beauty and joy creating stylish
      and modern masterpieces. Every bouquet we create is unique as you are.
    </p>
    <img
      class="about-img"
      srcset="
        ../img/about/image_about_288.webp   288w,
        ../img/about/image_about_344.webp   344w,
        ../img/about/image_about_576.webp   576w,
        ../img/about/image_about_632.webp   632w,
        ../img/about/image_about_688.webp   688w,
        ../img/about/image_about_1264.webp 1264w
      "
      sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, (min-width: 480px) 288px, 100vw"
      src="../img/about/image_about_632.webp"
      alt="two pink flowers"
      width="632"
      loading="lazy"
    />
  </div>
</section>
