<section class="section about-section" id="about">
  <div class="container">
    <h2 class="section-title">ABOUT</h2>
    <p class="about-text">
      We are a minimalistic flower studio. We love people and flowers.
      Therefore, every day we give people the beauty and joy creating stylish
      and modern masterpieces. Every bouquet we create is unique as you are.
    </p>

    <picture>
      <!-- Desktop screen -->
      <source
        media="(min-width: 1280px)"
        srcset="
          ../img/about/image_about_desc1@1x.webp 1x,
          ../img/about/image_about_desc1@2x.webp 2x
        "
        type="image/webp"
      />
      <!-- <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/about/ 1x,
                    ../img/about/ 2x
                  "
                  type="image/png"
                /> -->

      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ../img/about/image_about_tab1@1x.webp  1x,
          ../img/about/image_about_tabc1@2x.webp 2x
        "
        type="image/webp"
      />
      <!-- <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/about/ 1x,
                    ../img/about/ 2x
                  "
                  type="image/png"
                /> -->

      <!-- Mobile screen -->
      <source
        media="(max-width: 767px)"
        srcset="
          ../img/about/image_about_mob1@1x.webp 1x,
          ../img/about/image_about_mob1@2x.webp 2x
        "
        type="image/webp"
      />
      <!-- <source
                  media="(min-width: 1280px)"
                  srcset="
                    ../img/about/ 1x,
                    ../img/about/ 2x
                  "
                  type="image/png"
                /> -->
      <img
        class="about-img"
        src="../img/about/image_about_desc1@2x.webp"
        alt="bouquet "
        width="632"
        height="344"
        loading="lazy"
      />
    </picture>
  </div>
</section>
