<section class="about-section" id="">
  <div class="container">
    <h2 class="uppertitle about-title">ABOUT</h2>
    <p class="about-text">
      We are a minimalistic flower studio. We love people and flowers.
      Therefore, every day we give people the beauty and joy creating stylish
      and modern masterpieces. Every bouquet we create is unique as you are.
    </p>
    <img
      class="about-img"
      srcset="../img/vite-logo.png"
      sizes=""
      src="../img/vite-logo.png"
      alt="two pink flowers"
      width="632"
      loading="lazy"
    />
  </div>
</section>
