<section class="blog section">
  <div class="container">
    <h2 class="section-title">Blog</h2>

    <div class="responsive">
      <div>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers1_390.webp 390w,
              ./img/blog/flowers1_780.webp 780w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers1_390.jpg 390w,
              ./img/blog/flowers1_780.jpg 780w
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers1_344.webp 344w,
              ./img/blog/flowers1_688.webp 688w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers1_344.jpg 344w,
              ./img/blog/flowers1_688.jpg 688w
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers1_136.webp 136w,
              ./img/blog/flowers1_272.webp 272w
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers1_136.jpg 136w,
              ./img/blog/flowers1_272.jpg 272w
            "
            type="image/jpg"
          />
          <img
            class="blog-img"
            src="./img/blog/flowers1_136.jpg"
            alt="Flower"
            width="136"
            height="181"
            loading="lazy"
          />
        </picture>
      </div>

      <div>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers2_390.webp 390w,
              ./img/blog/flowers2_780.webp 780w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers2_390.jpg 390w,
              ./img/blog/flowers2_780.jpg 780w
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers2_344.webp 344w,
              ./img/blog/flowers2_688.webp 688w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers2_344.jpg 344w,
              ./img/blog/flowers2_688.jpg 688w
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers2_136.webp 136w,
              ./img/blog/flowers2_272.webp 272w
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers2_136.jpg 136w,
              ./img/blog/flowers2_272.jpg 272w
            "
            type="image/jpg"
          />
          <img
            class="blog-img"
            src="./img/blog/flowers2_136.jpg"
            alt="Flower"
            width="136"
            height="181"
            loading="lazy"
          />
        </picture>
      </div>

      <div>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers3_390.webp 390w,
              ./img/blog/flowers3_780.webp 780w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers3_390.jpg 390w,
              ./img/blog/flowers3_780.jpg 780w
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers3_344.webp 344w,
              ./img/blog/flowers3_688.webp 688w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers3_344.jpg 344w,
              ./img/blog/flowers3_688.jpg 688w
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers3_136.webp 136w,
              ./img/blog/flowers3_272.webp 272w
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers3_136.jpg 136w,
              ./img/blog/flowers3_272.jpg 272w
            "
            type="image/jpg"
          />
          <img
            class="blog-img"
            src="./img/blog/flower3_136.jpg"
            alt="Flower"
            width="136"
            height="181"
            loading="lazy"
          />
        </picture>
      </div>

      <div>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers4_390.webp 390w,
              ./img/blog/flowers4_780.webp 780w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers4_390.jpg 390w,
              ./img/blog/flowers4_780.jpg 780w
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers4_344.webp 344w,
              ./img/blog/flowers4_688.webp 688w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers4_344.jpg 344w,
              ./img/blog/flowers4_688.jpg 688w
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers4_136.webp 136w,
              ./img/blog/flowers4_272.webp 272w
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers4_136.jpg 136w,
              ./img/blog/flowers4_272.jpg 272w
            "
            type="image/jpg"
          />
          <img
            class="blog-img"
            src="./img/blog/flowers4_136.jpg"
            alt="Flower"
            width="136"
            height="181"
            loading="lazy"
          />
        </picture>
      </div>

      <div>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flower5_390.webp 390w,
              ./img/blog/flower5_780.webp 780w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flower5_390.jpg 390w,
              ./img/blog/flower5_780.jpg 780w
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flower5_344.webp 344w,
              ./img/blog/flower5_688.webp 688w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flower5_344.jpg 344w,
              ./img/blog/flower5_688.jpg 688w
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flower5_136.webp 136w,
              ./img/blog/flower5_272.webp 272w
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flower5_136.jpg 136w,
              ./img/blog/flower5_272.jpg 272w
            "
            type="image/jpg"
          />
          <img
            class="blog-img"
            src="./img/blog/flower5_136.jpg"
            alt="Flower"
            width="136"
            height="181"
            loading="lazy"
          />
        </picture>
      </div>

      <div>
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers6_390.webp 390w,
              ./img/blog/flowers6_780.webp 780w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/blog/flowers6_390.jpg 390w,
              ./img/blog/flowers6_780.jpg 780w
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers6_344.webp 344w,
              ./img/blog/flowers6_688.webp 688w
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/blog/flowers6_344.jpg 344w,
              ./img/blog/flowers6_688.jpg 688w
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers6_136.webp 136w,
              ./img/blog/flowers6_272.webp 272w
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/blog/flowers6_136.jpg 136w,
              ./img/blog/flowers6_272.jpg 272w
            "
            type="image/jpg"
          />
          <img
            class="blog-img"
            src="./img/blog/flowers6_136.jpg"
            alt="Flower"
            width="136"
            height="181"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <div class="blog-text">
      <p class="text-desc">Follow to our newsletter</p>
      <button class="subscribe-button" type="button">Subscribe</button>
    </div>
  </div>
</section>
