<section class="blog section" id="blog">
  <div class="container">
    <h2 class="section-title caption">Blog</h2>

    <div class="blog-list responsive">
      <div>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img1_desktop@1x.webp 1x,
              ./img/blog/img1_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img1_desktop@1x.jpg 1x,
              ./img/blog/img1_desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img1_tab@1x.webp 1x,
              ./img/blog/img1_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img1_tab@1x.jpg 1x,
              ./img/blog/img1_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img1_mob@1x.webp 1x,
              ./img/blog/img1_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img1_mob@1x.jpg 1x,
              ./img/blog/img1_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./img/blog/img1_mob@1x.jpg" alt="Flower" />
        </picture>
      </div>

      <div>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img2_desktop@1x.webp 1x,
              ./img/blog/img2_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img2_desktop@1x.jpg 1x,
              ./img/blog/img2_desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img2_tab@1x.webp 1x,
              ./img/blog/img2_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img2_tab@1x.jpg 1x,
              ./img/blog/img2_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img2_mob@1x.webp 1x,
              ./img/blog/img2_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img2_mob@1x.jpg 1x,
              ./img/blog/img2_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./img/blog/img2_mob@1x.jpg" alt="Flower" />
        </picture>
      </div>

      <div>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img3_desktop@1x.webp 1x,
              ./img/blog/img3_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img3_desktop@1x.jpg 1x,
              ./img/blog/img3_desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img3_tab@1x.webp 1x,
              ./img/blog/img3_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img3_tab@1x.jpg 1x,
              ./img/blog/img3_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img3_mob@1x.webp 1x,
              ./img/blog/img3_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img3_mob@1x.jpg 1x,
              ./img/blog/img3_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./img/blog/img3_mob@1x.jpg" alt="Flower" />
        </picture>
      </div>

      <div>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img4_desktop@1x.webp 1x,
              ./img/blog/img4_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img4_desktop@1x.jpg 1x,
              ./img/blog/img4_desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img4_tab@1x.webp 1x,
              ./img/blog/img4_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img4_tab@1x.jpg 1x,
              ./img/blog/img4_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img4_mob@1x.webp 1x,
              ./img/blog/img4_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img4_mob@1x.jpg 1x,
              ./img/blog/img4_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./img/blog/img4_mob@1x.jpg" alt="Flower" />
        </picture>
      </div>

      <div>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img5_desktop@1x.webp 1x,
              ./img/blog/img5_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img5_desktop@1x.jpg 1x,
              ./img/blog/img5_desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img5_tab@1x.webp 1x,
              ./img/blog/img5_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img5_tab@1x.jpg 1x,
              ./img/blog/img5_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img5_mob@1x.webp 1x,
              ./img/blog/img5_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img5_mob@1x.jpg 1x,
              ./img/blog/img5_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./img/blog/img5_mob@1x.jpg" alt="Flower" />
        </picture>
      </div>

      <div>
        <picture>
          <!-- desktop -->
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img6_desktop@1x.webp 1x,
              ./img/blog/img6_desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/blog/img6_desktop@1x.jpg 1x,
              ./img/blog/img6_desktop@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img6_tab@1x.webp 1x,
              ./img/blog/img6_tab@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./img/blog/img6_tab@1x.jpg 1x,
              ./img/blog/img6_tab@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img6_mob@1x.webp 1x,
              ./img/blog/img6_mob@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./img/blog/img6_mob@1x.jpg 1x,
              ./img/blog/img6_mob@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img src="./img/blog/img6_mob@1x.jpg" alt="Flower" />
        </picture>
      </div>
    </div>

    <div class="blog-text">
      <p class="text-desc">Follow to our newsletter</p>
      <button class="subscribe-button" type="button">Subscribe</button>
    </div>
  </div>
</section>
