<section class="blog section">
  <div class="container">
    <h2 class="">Blog</h2>

    <div class="responsive">
      <div>
        <img src="../img/blog/flowers1_136.jpg" alt="flower" width="136" />
      </div>
      <div>
        <img src="../img/blog/flowers2_136.jpg" alt="flower" width="136" />
      </div>
      <div>
        <img src="../img/blog/flowers3_136.jpg" alt="flower" width="136" />
      </div>
      <div>
        <img src="../img/blog/flowers4_136.jpg" alt="flower" width="136" />
      </div>
      <div>
        <img src="../img/blog/flowers5_136.jpg" alt="flower" width="136" />
      </div>
      <div>
        <img src="../img/blog/flowers6_136.jpg" alt="flower" width="136" />
      </div>
    </div>

    <div class="blog-text">
      <p>Follow to our newsletter</p>
      <button>Subscribe</button>
    </div>
  </div>
</section>
