<section class="section">
  <div class="container">
      <h2 class="section-title">delivery</h2>
    
      <ul class="delivery">
        <li class="delivery-list">
          <p class="delivery-list-text">
            Choose your bouquet and make an order on website
          </p>
        </li>
    
        <li class="delivery-list">
          <p class="delivery-list-text">
          Wait for the call to clarify the details of the order. You can pay online
          or to the courier
        </p>
        </li>
    
        <li class="delivery-list">
          <p class="delivery-list-text">
          Wait for the delivery at the selected time or pick up the order from the
          store
        </p>
        </li>
    
        <li class="delivery-list">
          <p class="delivery-list-text">
            Make someone happy or enjoy yourself
          </p>
        </li>
      </ul>
  </div>

  <picture>
    <source srcset="./images/image-delivery_320.webp 1x, ./images/image-delivery_640.webp 2x">
    <img class="delivery-img" src="./images/image-delivery_320.webp" alt="bouquet photo" />
  </picture>
</section>
