<section class="section">
  <div class="container">
      <h1 class="section-title">delivery</h1>
    
      <ul class="delivery">
        <li class="delivery-list">Choose your bouquet and make an order on website</li>
    
        <li class="delivery-list">
          Wait for the call to clarify the details of the order. You can pay online
          or to the courier
        </li>
    
        <li class="delivery-list">
          Wait for the delivery at the selected time or pick up the order from the
          store
        </li>
    
        <li class="delivery-list">Make someone happy or enjoy yourself</li>
      </ul>
  </div>
    
      <img class="delivery-img" src="../img/delivery/image-delivery_320.webp" alt="bouquet photo" />
    </section>
</section>
