<!-- Footer -->
<footer class="footer">
  <div class="container footer-wrapper">
    <div class="footer-item footer-logo">
      <a href="../index.html" class="footer-logo">
        <svg class="logo-icon" width="74" height="58">
          <use href="../img/icons.svg#icon-footer-logo"></use>
        </svg>
      </a>
    </div>
    <div class="footer-item">
      <div class="footer-nav">
        <h2 class="sub-title">Navigation</h2>
        <ul class="footer-bottom-nav">
          <li class="nav-item">
            <a class="nav-link" href="./index.html">Anemone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#store">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#delivery">Delivery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-item">
      <h2 class="sub-title">Opening times</h2>
      <p>Every day</p>
      <p>9:00 - 22:00</p>
    </div>
    <address class="footer-item">
      <h2 class="sub-title">Contacts</h2>
      <ul class="contacts-list-footer">
        <li class="contacts-item-footer">
          <a href="tel:+380631234567" target="_blank">+38 063 123 45 67</a>
        </li>
        <li class="contacts-item-footer">
          <a href="mailto:anemonestudio@example.com" target="_blank"
            >anemonestudio<span class="email-br">@example.com</span></a
          >
        </li>
        <li class="contacts-item-footer">
          <a
            href="https://goo.gl/maps/NNAV3JC2xXtpKysi9"
            target="_blank"
            rel="noopener noreferrer"
            >Reitarska Street, 11<br />
            Kyiv, Ukraine</a
          >
        </li>
      </ul>
    </address>
    <ul class="social">
      <li class="social-item">
        <a href="#" class="footer-social">
          <svg class="footer-social-icon" width="28" height="28">
            <use href="../img/icons.svg#icon-footer-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#" class="footer-social">
          <svg class="footer-social-icon" width="28" height="28">
            <use href="../img/icons.svg#icon-footer-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
