<!-- Footer -->
<footer class="footer">
  <div class="container">
    <a href="../index.html" class="logo">
      <svg class="logo-icon" width="45" height="35">
        <use href=""></use>
      </svg>
    </a>
    <div class="footer-nav">
      <h2 class="sub-title">Navigation</h2>
      <ul class="top-nav">
        <li class="top-nav-item">
          <a class="top-nav-link" href="./index.html">Anemone</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="#">About us</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="#">Store</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="#">Delivery</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="#">Blog</a>
        </li>
      </ul>
    </div>
    <div class="footer-time">
      <h2 class="sub-title">Opening times</h2>
      <p>Every day</p>
      <p>9:00 - 22:00</p>
    </div>
    <address class="footer-contacts">
      <h2 class="sub-title">Contacts</h2>
      <a href="tel:+380631234567" target="_blank">+38 063 123 45 67</a>
      <a href="anemonestudio@example.com" target="_blank"
        >anemonestudio@example.com</a
      >
      <p>Reitarska Street, 11 Kyiv, Ukraine</p>
    </address>
    <div class="social">
      <a href="#" class="footer-social">
        <svg class="footer-social-icon" width="28" height="28">
          <use href=""></use>
        </svg>
      </a>
      <a href="#" class="footer-social">
        <svg class="footer-social-icon" width="28" height="28">
          <use href=""></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
