<!-- Header section -->
<header class="header">
  <div class="container">
    <a href="../index.html" class="logo">
      <svg class="logo-icon" width="45" height="35">
        <use href=""></use>
      </svg>
    </a>
    <nav>
      <ul class="top-nav">
        <li class="top-nav-item">
          <a class="top-nav-link" href="./index.html">Anemone</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="">About us</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="">Store</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="">Delivery</a>
        </li>
        <li class="top-nav-item">
          <a class="top-nav-link" href="">Blog</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="call-btn">
      <a href="tel:+380631234567" target="_blank" class="contact-phone">
        <svg class="call-btn-icon" width="24" height="24">
          <use href=""></use>
        </svg>
      </a>
    </button>
    <!-- Mobile menu -->
    <button class="header-menu-btn" type="button">
      <svg class="header-menu-icon" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
    <!-- End mobile menu -->
  </div>
</header>
