<!--hero section-->
<section class="hero-section">
  <div class="hero-container container">
    <h2 class="subtitle-hero">
      flower <br />
      studio
    </h2>
    <picture>
      <source
        srcset="./img/hero/image_home page_mob@1x.webp 1x, ./img/hero/image_home page_mob@2x.webp 2x"
        type="hero/webp"
      />
      <img
        class="hero-img"
        src="./img/hero/image_home page_mob@1x.webp"
        alt="flower"
        width="145"
        loading="lazy"
      />
    </picture>
    <button class="button-hero">
      <svg class="button-img" width="64" height="76">
        <use href="./img/icons.svg#icon-btn_mob"></use>
      </svg>
    </button>
    <h1 class="title-hero">ANEMONE</h1>
  </div>
</section>
