<!-- modal contact us -->
<div class="modal-contactus modal" data-modal="1">
  <svg class="modal-contactus-close modal-close js-modal-close">
    <use href="../img/icons.svg#icon-close-big"></use>
  </svg>
  <strong class="modal-contactus-title modal-title">Contact us</strong>
  <p class="modal-contactus-desc modal-desc">
    If you have any additional questions or you want to clarify something before
    you make an order please fill in your contact details. We will call you
    back.
  </p>
  <form class="modal-contactus-form modal-form">
    <label class="modal-contactus-label modal-label" for="name"
      ><span class="modal-label-span">Name</span>
      <input
        id="modal-name"
        class="modal-contactus-input modal-input"
        type="text"
        placeholder="Your name"
        pattern="[a-z0-9]+[A-Z]"
        id="name"
      />
      <svg class="modal-input-icon" width="20" height="20">
        <use
          class="modal-input-icon-valid"
          href="../img/icons.svg#icon-modal-valid"
        ></use>
        <use
          class="modal-input-icon-invalid"
          href="../img/icons.svg#icon-modal-invalid"
        ></use>
      </svg>
    </label>
    <label class="modal-contactus-label modal-label" for="email"
      ><span class="modal-label-span">Email</span>
      <input
        id="modal-mail"
        class="modal-contactus-input modal-input"
        placeholder="Your email"
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        id="email"
      />
      <svg class="modal-input-icon" width="20" height="20">
        <use
          class="modal-input-icon-valid"
          href="../img/icons.svg#icon-modal-valid"
        ></use>
        <use
          class="modal-input-icon-invalid"
          href="../img/icons.svg#icon-modal-invalid"
        ></use>
      </svg>
    </label>
    <button
      id="modal-submit"
      disabled="disabled"
      class="modal-contactus-btn modal-btn btn js-modal-close js-open-modal"
      data-modal="3"
      type="submit"
    >
      Send
    </button>
  </form>
</div>

<!-- modal thank you -->
<div class="modal-thankyou modal" data-modal="3">
  <svg class="modal-contactus-close modal-close js-modal-close">
    <use href="../img/icons.svg#icon-close-big"></use>
  </svg>
  <img class="modal-thankyou-img" src="../img/modal/Plants.svg" alt="" />
  <strong class="modal-thankyou-title modal-title">Thank You!</strong>
  <p class="modal-thankyou-desc modal-desc">
    We have received your contact details and will reach you soon.
  </p>
  <button class="modal-thankyou-btn modal-btn btn js-modal-close" type="button">
    Continue
  </button>
</div>

<!-- modal subscribe -->
<div class="modal-subscribe modal" data-modal="2">
  <svg class="modal-contactus-close modal-close js-modal-close">
    <use href="../img/icons.svg#icon-close-big"></use>
  </svg>
  <div class="modal-subscribe-side-left"></div>
  <div class="modal-subscribe-side-right">
    <strong class="modal-subscribe-title modal-title"
      >Follow to our newsletter</strong
    >
    <p class="modal-subscribe-desc modal-desc">
      Be the first to get exclusive offers and the latest news on our product
      directly in your box.
    </p>
    <form class="modal-subscribe-form modal-form">
      <label class="modal-subscribe-label modal-label" for="subscribe-email"
        ><span class="modal-label-span">Email</span>
        <input
          class="modal-subscribe-input modal-input"
          type="email"
          placeholder="Your email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          id="subscribe-email"
      /></label>

      <button class="modal-subscribe-btn modal-btn btn" type="submit">
        Subscribe
      </button>
    </form>
  </div>
</div>
