<!-- Store section -->
<section class="store-section">
  <div class="store-container">
    <h1 class="store-header">Store</h1>
    <ul class="store-list">
      <li class="store-item">
        <img src="#" alt="compliment bouquet" class="store-img" />
        <div class="store-img-text">
          <h2 class="store-img-name">compliments</h2>
          <p class="store-img-cost">from $15</p>
        </div>
      </li>
      <li class="store-item">
        <img src="#" alt="bouquet size S" class="store-img" />
        <div class="store-img-text">
          <h2 class="store-img-name">bouquets size S</h2>
          <p class="store-img-cost">from $25</p>
        </div>
      </li>
      <li class="store-item">
        <img src="#" alt="bouquet size M" class="store-img" />
        <div class="store-img-text">
          <h2 class="store-img-name">bouquets size M</h2>
          <p class="store-img-cost">from $45</p>
        </div>
      </li>
      <li class="store-item">
        <img src="#" alt="bouquet size L" class="store-img" />
        <div class="store-img-text">
          <h2 class="store-img-name">bouquets size L</h2>
          <p class="store-img-cost">from $60</p>
        </div>
      </li>
    </ul>
    <button type="button" class="btn">Order flowers</button>
  </div>
</section>
